    @font-face 
    {
        font-family: "Cyberfont";
        src: url("/Personal-Raysite-/assets/fonts/Cyberpunk-Regular.woff2") format("woff2"),
                  url("/Personal-Raysite-/assets/fonts/Cyberpunk-Regular.woff") format("woff"),
                  url("/Personal-Raysite-/assets/fonts/Cyberpunk-Regular.ttf") format("truetype");
        font-weight:400;     /*is normal, could be bold or smth*/
        font-style: normal;     /*could be italic or smth*/
        font-display : swap ;
    }
/**/






body
{
    background-color: rgb(63, 63, 71);
    color : rgb(226, 231, 192);

    margin: 0;
    font-family: "Arial", sans-serif;
}